## Creating Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

#### Using Lists

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

#### Using Numpy Arrays

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

#### Using Dictionaries

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

## Using an Index

In [11]:
ser1 = pd.Series([1,2,3,4],['USA','ID','SG','JP'])
ser1

USA    1
ID     2
SG     3
JP     4
dtype: int64

In [12]:
ser2 = pd.Series([1,2,3,4],['IT','ID','SG','JP'])
ser2

IT    1
ID    2
SG    3
JP    4
dtype: int64

In [13]:
ser1+ser2

ID     4.0
IT     NaN
JP     8.0
SG     6.0
USA    NaN
dtype: float64